<div class="tabs-tail">
  <div class="tail-content">
    <h1>Welcome to my digital home</h1>
  </div>
</div>
<div class="content">
<div class="info-card">
<img src="luke_p.jpg" alt="Luke Chisholm"   height="250" style="  border-radius: 5px;" >
<div class="info-text">
<h1>Who am I?</h1>
Hello! My name is Luke and I grew up in Austin, Texas. I have been a software engineer at Johnson Space Center in Houston since March 2020. I am developing this website as a place to share information about my career, personal projects, hobbies, and aspirations.
</div>
</div>
<div class="info-card">
<div class="info-text">
<h1>3D Animator</h1>
I've been slowly developing 3D art and animation skills in Blender for several years. I often return to the canvas to create something when struck with inspiration from a dream or work of art.
</div>
<img src="bl1.png" alt="Render of the Black Lodge from Twin Peaks created in Blender"   height="250" style="  border-radius: 5px;" >

</div>
<div class="info-card">
<img src="tart.png" alt="Cranberry Tart"   height="250" style="  border-radius: 5px;" >
<div class="info-text">
<h1>Home Baker</h1>
I consider myself an avid baker and enjoy perfecting recipes to share with my friends. I have an obsession with tarts in particular and love to try new flavor combinations. I also enjoy creating spiced cold brew coffee at home.
</div>
</div>
</div>
