<div class="tabs-tail">
  <div class="tail-content">
    <h1>Software Engineer II</h1>
    <p>Supporting NASA missions at Johnson Space Center</p>
  </div>
</div>
<div class="content">
<p style="display: flex ">
<img src="mcc1.jpeg" alt="Flight Control"   height="250" style="  border-radius: 5px; margin: 0 1em" >

I currently serve on a NASA contract, providing quality software engineering and customer support to the Mission Control Center at Johnson Space Center.  I am honored to have been a part of maintaining the International Space Station, creating new features for the Artemis missions, and laying ground work for the Gateway program.<br><br></p>
<p><br>
I am well versed in developing C/C++ and Python software in a Linux environment, and uphold a high standard for delivered code and software testing. I am capable in Object-Oriented Programming, automated unit testing, integration testing, regression testing, debugging, and more. <br><br>

I have not had the opportunity for professional experience in web development. However, I have been developing skills in web languages and frameworks such as Ruby on Rails, Javascript, HTML, and others during my personal projects and a number of university achievements I am proud of in particular. I aim to expand my knowledge of web development along with this website.</p>

</div>
