<div class="tabs-tail">
  <div class="tail-content">
    <h1>Luke Chisholm</h1>
    <p>Software Engineer</p>
  </div>
</div>
<div class="content">
<h1>Thank you for stopping by!</h1>
<div style="display:flex; margin: 1em">
<img src="../underc.jpeg" alt="Under Construction"   height="250" style="  border-radius: 5px; margin: 0 1em" >
<p>This page is currently under construction. Please check in soon for updates!</p>
</div>
</div>
